[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ArtHell (ArtHell)
	label-Code-Review = -2..+2 group KPP
	label-Code-Review = -2..+2 group SPOVM
[access "refs/for/refs/*"]
	read = group user/ArtHell (ArtHell)
	push = group user/ArtHell (ArtHell)
	label-Code-Review = -2..+2 group user/ArtHell (ArtHell)
	label-Verified = -1..+1 group user/ArtHell (ArtHell)
	rebase = group user/ArtHell (ArtHell)
	removeReviewer = group user/ArtHell (ArtHell)
	submit = group user/ArtHell (ArtHell)
[access "refs/heads/*"]
	read = group user/ArtHell (ArtHell)
	create = group user/ArtHell (ArtHell)
	push = +force group user/ArtHell (ArtHell)
	pushMerge = group user/ArtHell (ArtHell)
[access "refs/tags/*"]
	push = +force group user/ArtHell (ArtHell)
	pushTag = group user/ArtHell (ArtHell)
	pushSignedTag = group user/ArtHell (ArtHell)
