[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ArtHell
[access "refs/for/refs/*"]
	read = group user/ArtHell
	push = group user/ArtHell
	label-Code-Review = -2..+2 group user/ArtHell
	label-Verified = -1..+1 group user/ArtHell
	rebase = group user/ArtHell
	removeReviewer = group user/ArtHell
	submit = group user/ArtHell
[access "refs/heads/*"]
	read = group user/ArtHell
	create = group user/ArtHell
	push = +force group user/ArtHell
	pushMerge = group user/ArtHell
[access "refs/tags/*"]
	push = +force group user/ArtHell
	pushTag = group user/ArtHell
	pushSignedTag = group user/ArtHell
